        .sicon {
            width: 24px;
            height: 24px;
        }

        .selector, .layui-layer-demo {
            background: #4A5C72;
        }

        .selector {
        }

            .selector .icons {
                flex-direction: column;
                padding: 20px;
                display: none;
            }

            .selector .icons-selected {
                display: -webkit-flex;
                display: flex;
            }

            .selector .icons .iconrow {
                display: -webkit-flex;
                display: flex;
                flex: auto;
            }

            .selector .icons .icon:hover {
                background: #3F6D84;
            }

            .selector .icons .icon {
                flex: auto;
                margin-right: 2px;
                margin-bottom: 2px;
                cursor: pointer;
                text-align: center;
            }

                .selector .icons .icon .s, .selector .icons .icon img {
                    width: 50px;
                    height: 50px;
                    margin-top: 10px;
                }

        #tabs {
            margin-top: 20px;
            margin-left: 20px;
            height: 80px;
        }

        .layui-layer-page .layui-layer-content {
            overflow: hidden;
        }

        .icons {
            background: #2D3241;
            clear: both;
            margin-top: 40px;
            margin-left: 20px;
        }

            .icons .icon {
                background: #364450;
            }

        #tabs img {
            width: 64px;
            height: 64px;
        }

        #tabs .tab {
            padding: 10px;
            cursor: pointer;
            float: left;
        }

            #tabs .tab.selected {
                background: #506777;
            }

        .ms, .pfs {
            display: flex;
            flex-direction: column;
        }

        .ms {
            display: flex;
            flex-direction: row;
        }

        .m, .pf {
            display: block;
            margin: 3px;
            padding: 3px 8px;
            font-size: 12px;
            color: white;
            text-decoration: none;
            background: #878787;
            max-width: 320px;
            white-space: nowrap;
        }

        .pf2 {
            background: #111;
        }

        .m {
            text-decoration: underline;
            max-width: 90px;
            white-space: nowrap;
            display: flex;
            align-items: flex-end;
            flex-wrap: nowrap;
        }

        .m img {
            width: 20px;
            height: 20px;
            vertical-align: bottom;
        }

        .selected {
            background: #42586c;
            color: white;
        }

        a.pf {
            color: white;
        }

        a.selected {
            color: white;
            text-decoration: none;
        }

        .time {
            border: 1px #cfcfcf solid;
            width: 60px;
            padding: 4px;
            outline: none;
        }

        .time2 {
            border-color: #ef1f1f;
        }

        select {
            height: 30px;
            line-height: 30px;
        }

        button {
            height: 30px;
        }

        .list {
            border: 1px #d3d3d3 dashed;
            margin: 10px;
            padding: 10px;
        }
        #MoreSetting {
            border: 1px #d3d3d3 dashed;
            margin: 10px;
            padding: 10px;
        }
        #txtnumber, #txtore {
            width: 40px;
            height: 24px;
            line-height: 30px;
        }

        #txtore {
            margin-left: 5px;
        }

        .name {
            width: 200px;
        }

        td.opcell a {
            font-size: 12px;
            white-space: nowrap;
        }

        td.cell-infra {
            white-space: nowrap;
        }

        .number2 {
                margin: 0;
                padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: none;
        }

        .header td {
            background: #f2f2f2;
        }

        td {
            padding: 3px 4px;
            border: 1px dashed #d3d3d3;
        }

        .header td {
            padding: 10px 4px;
        }

        .xqsrow td {
            background: #fff2f2;
        }

        .outrow td {
        }

        .to {
            color: black;
        }

        .op {
            display: none;
            font-size: 12px;
        }

            .op a {
                color: #333;
            }

        a {
            color: #333;
        }

        td:hover .op {
            display: inline-block;
        }

        .row-tag td {
            background: #e2e2e2;
        }

        #UIselector {
            position: absolute;
            left: 50px;
            top: 50px;
            z-index: 1000;
        }

        #Split {
            position: fixed;
            left: 50px;
            top: 50px;
            color: white;
            background: #5d6e88;
            padding: 20px;
			z-index: 1000;
        }

        .split-pf {
            background: #878787;
            padding: 3px;
            margin-bottom: 4px;
            border: 1px solid #ddd;
            cursor: pointer;
        }

            .split-pf:hover, .split-pf-selected {
                background: #5d6e88;
            }

        .split-number {
            width: 130px;
            height: 24px;
            line-height: 30px;
        }

        #Split button {
            margin-top: 10px;
        }
        .textbox {
            border: 1px solid #d3d3d3;
            width: 85px;
            height: 24px;
            line-height: 30px;
        }
        .label {
            width: 160px;
            display: inline-block;
        }
        .maxOneBelt{
            color:#000;
        }

        .item_number{
            display: inline-block;
            border: 1px solid rgba(0,0,0,0);
            border-radius: 4px;
            padding: 0 10px;
            position: relative;
        }

        .item_number:hover
        {
            border: 1px solid black;
            transition: border-color 0.2s ease-in-out;
        }

        .number_editor_container{
            position:absolute;
            left: 0;
            top: 0;
            /* width: 30px; */
            right: 0;
        }

        .number_editor{
            border: 1px solid blue;
            border-radius: 4px;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            width: 100%;
            font-size: 16px;
        }

        /* Style for the custom dropdown container */
        .custom-dropdown {
            position: relative;
            display: inline-block;
        }

        /* Style for the dropdown button */
        .custom-dropdown button {
            /* width: 12rem; */
            border: 1px solid #333;
            cursor: pointer;
            background-color: #e5e5e5;
            border-radius: 4px;
        }
        .custom-dropdown button:hover {
            background-color: #ddd;
        }

        /* Style for the dropdown content */
        .custom-dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 12rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border: 1px solid #ccc;
            border-top: none;
            max-height: 500px; /* Set the maximum height as needed */
            overflow-y: auto; /* Add a scrollbar when content overflows */
        }

        /* Style for each dropdown item group */
        .group {
            border-bottom: 1px solid #ccc;
        }

        /* Style for the group name */
        .group-name {
            padding: 4px;
            font-weight: bold;
        }

        /* Style for each dropdown item */
        .group-item {
            display: flex;
            align-items: center;
            padding: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        /* Hover effect for dropdown items */
        .group-item:hover {
            background-color: #66ccff;
        }

        /* Style for the icon in each dropdown item */
        .group-item img {
            width: 20px;
            margin-right: 6px;
        }
